NoisePollution/NoisePollution/Web References/LBHLicensingAPP/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSRToCivicaApp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TicketNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TemplateName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSRToCivicaAppResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSRToCivicaAppResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DebugInfo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FailureReason" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnValue" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSRToCivicaAppEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TicketNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSRToCivicaAppExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSRToCivicaAppExResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSRList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCrmCategory" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCivicaCategory" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSRListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSRListResult" type="tns:ArrayOfCivicaAppSR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCivicaAppSR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CivicaAppSR" nillable="true" type="tns:CivicaAppSR" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CivicaAppSR">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Easting" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Northing" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DateCreated" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateContactLARN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLARN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCivicaAPPId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strLastName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateContactLARNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateContactLARNResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergeAndSendXMLToAPP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strProjName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTemplateFilename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergeAndSendXMLToAPPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MergeAndSendXMLToAPPResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneratePdf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TicketNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneratePdfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneratePdfResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Response" nillable="true" type="tns:Response" />
      <s:element name="ArrayOfCivicaAppSR" nillable="true" type="tns:ArrayOfCivicaAppSR" />
      <s:element name="int" type="s:int" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSRToCivicaAppSoapIn">
    <wsdl:part name="parameters" element="tns:SendSRToCivicaApp" />
  </wsdl:message>
  <wsdl:message name="SendSRToCivicaAppSoapOut">
    <wsdl:part name="parameters" element="tns:SendSRToCivicaAppResponse" />
  </wsdl:message>
  <wsdl:message name="SendSRToCivicaAppExSoapIn">
    <wsdl:part name="parameters" element="tns:SendSRToCivicaAppEx" />
  </wsdl:message>
  <wsdl:message name="SendSRToCivicaAppExSoapOut">
    <wsdl:part name="parameters" element="tns:SendSRToCivicaAppExResponse" />
  </wsdl:message>
  <wsdl:message name="GetSRListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSRList" />
  </wsdl:message>
  <wsdl:message name="GetSRListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSRListResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateContactLARNSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateContactLARN" />
  </wsdl:message>
  <wsdl:message name="UpdateContactLARNSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateContactLARNResponse" />
  </wsdl:message>
  <wsdl:message name="MergeAndSendXMLToAPPSoapIn">
    <wsdl:part name="parameters" element="tns:MergeAndSendXMLToAPP" />
  </wsdl:message>
  <wsdl:message name="MergeAndSendXMLToAPPSoapOut">
    <wsdl:part name="parameters" element="tns:MergeAndSendXMLToAPPResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="GeneratePdfSoapIn">
    <wsdl:part name="parameters" element="tns:GeneratePdf" />
  </wsdl:message>
  <wsdl:message name="GeneratePdfSoapOut">
    <wsdl:part name="parameters" element="tns:GeneratePdfResponse" />
  </wsdl:message>
  <wsdl:message name="SendSRToCivicaAppHttpGetIn">
    <wsdl:part name="TicketNumber" type="s:string" />
    <wsdl:part name="TemplateName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSRToCivicaAppHttpGetOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="SendSRToCivicaAppExHttpGetIn">
    <wsdl:part name="TicketNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSRToCivicaAppExHttpGetOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="GetSRListHttpGetIn">
    <wsdl:part name="strCrmCategory" type="s:string" />
    <wsdl:part name="strCivicaCategory" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSRListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCivicaAppSR" />
  </wsdl:message>
  <wsdl:message name="UpdateContactLARNHttpGetIn">
    <wsdl:part name="strLARN" type="s:string" />
    <wsdl:part name="strCivicaAPPId" type="s:string" />
    <wsdl:part name="strFirstName" type="s:string" />
    <wsdl:part name="strLastName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateContactLARNHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="MergeAndSendXMLToAPPHttpGetIn">
    <wsdl:part name="strProjName" type="s:string" />
    <wsdl:part name="strXML" type="s:string" />
    <wsdl:part name="strTemplateFilename" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MergeAndSendXMLToAPPHttpGetOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="TestHttpGetIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TestHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GeneratePdfHttpGetIn">
    <wsdl:part name="TicketNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GeneratePdfHttpGetOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="SendSRToCivicaAppHttpPostIn">
    <wsdl:part name="TicketNumber" type="s:string" />
    <wsdl:part name="TemplateName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSRToCivicaAppHttpPostOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="SendSRToCivicaAppExHttpPostIn">
    <wsdl:part name="TicketNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSRToCivicaAppExHttpPostOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="GetSRListHttpPostIn">
    <wsdl:part name="strCrmCategory" type="s:string" />
    <wsdl:part name="strCivicaCategory" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSRListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCivicaAppSR" />
  </wsdl:message>
  <wsdl:message name="UpdateContactLARNHttpPostIn">
    <wsdl:part name="strLARN" type="s:string" />
    <wsdl:part name="strCivicaAPPId" type="s:string" />
    <wsdl:part name="strFirstName" type="s:string" />
    <wsdl:part name="strLastName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateContactLARNHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="MergeAndSendXMLToAPPHttpPostIn">
    <wsdl:part name="strProjName" type="s:string" />
    <wsdl:part name="strXML" type="s:string" />
    <wsdl:part name="strTemplateFilename" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MergeAndSendXMLToAPPHttpPostOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:message name="TestHttpPostIn">
    <wsdl:part name="strInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TestHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GeneratePdfHttpPostIn">
    <wsdl:part name="TicketNumber" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GeneratePdfHttpPostOut">
    <wsdl:part name="Body" element="tns:Response" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="SendSRToCivicaApp">
      <wsdl:input message="tns:SendSRToCivicaAppSoapIn" />
      <wsdl:output message="tns:SendSRToCivicaAppSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSRToCivicaAppEx">
      <wsdl:input message="tns:SendSRToCivicaAppExSoapIn" />
      <wsdl:output message="tns:SendSRToCivicaAppExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSRList">
      <wsdl:input message="tns:GetSRListSoapIn" />
      <wsdl:output message="tns:GetSRListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContactLARN">
      <wsdl:input message="tns:UpdateContactLARNSoapIn" />
      <wsdl:output message="tns:UpdateContactLARNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MergeAndSendXMLToAPP">
      <wsdl:input message="tns:MergeAndSendXMLToAPPSoapIn" />
      <wsdl:output message="tns:MergeAndSendXMLToAPPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePdf">
      <wsdl:input message="tns:GeneratePdfSoapIn" />
      <wsdl:output message="tns:GeneratePdfSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="SendSRToCivicaApp">
      <wsdl:input message="tns:SendSRToCivicaAppHttpGetIn" />
      <wsdl:output message="tns:SendSRToCivicaAppHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSRToCivicaAppEx">
      <wsdl:input message="tns:SendSRToCivicaAppExHttpGetIn" />
      <wsdl:output message="tns:SendSRToCivicaAppExHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSRList">
      <wsdl:input message="tns:GetSRListHttpGetIn" />
      <wsdl:output message="tns:GetSRListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContactLARN">
      <wsdl:input message="tns:UpdateContactLARNHttpGetIn" />
      <wsdl:output message="tns:UpdateContactLARNHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MergeAndSendXMLToAPP">
      <wsdl:input message="tns:MergeAndSendXMLToAPPHttpGetIn" />
      <wsdl:output message="tns:MergeAndSendXMLToAPPHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestHttpGetIn" />
      <wsdl:output message="tns:TestHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePdf">
      <wsdl:input message="tns:GeneratePdfHttpGetIn" />
      <wsdl:output message="tns:GeneratePdfHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="SendSRToCivicaApp">
      <wsdl:input message="tns:SendSRToCivicaAppHttpPostIn" />
      <wsdl:output message="tns:SendSRToCivicaAppHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSRToCivicaAppEx">
      <wsdl:input message="tns:SendSRToCivicaAppExHttpPostIn" />
      <wsdl:output message="tns:SendSRToCivicaAppExHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSRList">
      <wsdl:input message="tns:GetSRListHttpPostIn" />
      <wsdl:output message="tns:GetSRListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContactLARN">
      <wsdl:input message="tns:UpdateContactLARNHttpPostIn" />
      <wsdl:output message="tns:UpdateContactLARNHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MergeAndSendXMLToAPP">
      <wsdl:input message="tns:MergeAndSendXMLToAPPHttpPostIn" />
      <wsdl:output message="tns:MergeAndSendXMLToAPPHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestHttpPostIn" />
      <wsdl:output message="tns:TestHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePdf">
      <wsdl:input message="tns:GeneratePdfHttpPostIn" />
      <wsdl:output message="tns:GeneratePdfHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSRToCivicaApp">
      <soap:operation soapAction="http://tempuri.org/SendSRToCivicaApp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSRToCivicaAppEx">
      <soap:operation soapAction="http://tempuri.org/SendSRToCivicaAppEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSRList">
      <soap:operation soapAction="http://tempuri.org/GetSRList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContactLARN">
      <soap:operation soapAction="http://tempuri.org/UpdateContactLARN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeAndSendXMLToAPP">
      <soap:operation soapAction="http://tempuri.org/MergeAndSendXMLToAPP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePdf">
      <soap:operation soapAction="http://tempuri.org/GeneratePdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSRToCivicaApp">
      <soap12:operation soapAction="http://tempuri.org/SendSRToCivicaApp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSRToCivicaAppEx">
      <soap12:operation soapAction="http://tempuri.org/SendSRToCivicaAppEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSRList">
      <soap12:operation soapAction="http://tempuri.org/GetSRList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContactLARN">
      <soap12:operation soapAction="http://tempuri.org/UpdateContactLARN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeAndSendXMLToAPP">
      <soap12:operation soapAction="http://tempuri.org/MergeAndSendXMLToAPP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePdf">
      <soap12:operation soapAction="http://tempuri.org/GeneratePdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendSRToCivicaApp">
      <http:operation location="/SendSRToCivicaApp" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSRToCivicaAppEx">
      <http:operation location="/SendSRToCivicaAppEx" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSRList">
      <http:operation location="/GetSRList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContactLARN">
      <http:operation location="/UpdateContactLARN" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeAndSendXMLToAPP">
      <http:operation location="/MergeAndSendXMLToAPP" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePdf">
      <http:operation location="/GeneratePdf" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SendSRToCivicaApp">
      <http:operation location="/SendSRToCivicaApp" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSRToCivicaAppEx">
      <http:operation location="/SendSRToCivicaAppEx" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSRList">
      <http:operation location="/GetSRList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContactLARN">
      <http:operation location="/UpdateContactLARN" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MergeAndSendXMLToAPP">
      <http:operation location="/MergeAndSendXMLToAPP" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <http:operation location="/Test" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePdf">
      <http:operation location="/GeneratePdf" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://lbhcrmappp01:1020/LBHLicensingAPP/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://lbhcrmappp01:1020/LBHLicensingAPP/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://lbhcrmappp01:1020/LBHLicensingAPP/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://lbhcrmappp01:1020/LBHLicensingAPP/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>